.detailImg {
  border-radius: 20px;
  width: 80%;
  margin-bottom: 20px;
  text-align: start;
}
.cardsContainer {
  border-radius: 20px;
}
.orderButton {
  background-color: orangered;
  color: #fff;
}
.spinner {
  padding: 100px;
  position: fixed;
  cursor: wait;
}
.alert {
  position: fixed;
  margin-top: 130px;
  filter: opacity(89%);
  cursor: wait;
}
.bookingText {
  font-family: "Concert One", cursive;
  display: inline-block;
  border-bottom: 5px solid #212529;
  border-radius: 15px;
}
