.footerContainer {
  background-color: #252525;
  color: #fff;
  padding-top: 150px;
  clip-path: polygon(0 24%, 100% 0, 100% 100%, 0% 100%);
}
.footerContainer2 {
  background-color: #0465e3;
  color: #fff;
  margin-top: 100px;
  clip-path: polygon(53% 11%, 100% 0, 100% 100%, 0 100%, 0 0);
}
/* Footar Ancors  */
.footar-icon a {
  text-decoration: none;
  color: rgb(182, 182, 182);
  font-size: 22px;
}

/* Footer Social Icon  */
.fb:hover {
  transform: scale(1.4);
  color: blue;
}
.ins:hover {
  transform: scale(1.5);
  color: rgb(255, 6, 180);
}
.twt:hover {
  transform: scale(1.5);
  color: rgb(11, 181, 248);
}
.yt:hover {
  transform: scale(1.5);
  color: red;
}
.fontTeko {
  font-family: "Teko", sans-serif;
}
.firstColum {
  border-right: 3px solid #fff;
}
.thirdColum {
  border-left: 3px solid #fff;
}
.footer_nav {
  text-decoration: none;
}
.footer_nav:hover {
  text-decoration: underline;
}
.inputField {
  background-color: #252525;
  border-radius: 5px;
  padding-right: 135px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 20px;
  border: 1px solid rgb(131, 131, 131);
}
input[type="submit"] {
  margin-left: -135px;
  margin-top: 8px;
  padding: 0px 20px;
  height: 45px;
  width: 127px;
  background-color: #d93131;
  color: #fff;
}
