.manageOrderText {
  font-family: "Concert One", cursive;
  display: inline-block;
  border-bottom: 5px solid #212529;
  border-radius: 15px;
}
.packageStatus1 {
  background-color: #535353;
  font-family: monospace;
}
.packageStatus2 {
  font-family: monospace;
}
