.galleryContainer2 {
  margin-top: 100px;
  margin-bottom: 100px;
}
.fantasyGalleryContainer2 {
  background-color: #00f7ff46;
  border-radius: 25px;
}
.gallery2 {
  font-family: "Concert One", cursive;
  font-size: 60px;
  padding: 10px;
}
.galleryImage2 {
  position: relative;
  border-radius: 15px;
  border: 2px solid #00f7ff;
}

.galleryImage2:hover {
  transform: scale(2);
  transition: 1500ms;
  z-index: 2;
  cursor: pointer;
}
.imageFrame2 {
  border: 0px;
}
.imageFrame2:hover {
  border: 0px;
  border: 3px solid #00f7ff;
  z-index: 2;
  transform: scale(1.3);
  border-radius: 15px;
  overflow: hidden;
}
.videoContainer2 {
  background-color: #4d494946;
  border-radius: 25px;
  margin-top: 100px;
}
.video2 {
  border-radius: 50px;
}
